<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dlyt.yanndroid.notinotes">

    <uses-permission android:name="android.permission.BROADCAST_CLOSE_SYSTEM_DIALOGS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/MainTheme">

        <service
            android:name=".QSTile"
            android:exported="true"
            android:icon="@drawable/ic_add"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".ActionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="de.dlyt.yanndroid.notinotes.EDIT" />
                <action android:name="de.dlyt.yanndroid.notinotes.DELETE" />
                <action android:name="de.dlyt.yanndroid.notinotes.SHOW" />
            </intent-filter>
        </receiver>

    </application>

</manifest>